<a href="https://colab.research.google.com/github/Pattaralada/242_2567_700/blob/main/242lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('Single quote')

Single quote

Print : การแสดงผล

คำสั่ง print() ใช้สำหรับแสดงผลข้อความ หรือตัวแปรออกมาในตอนรัน
ถ้าเป็น string จะต้องอยู่ในเครื่องหมาย "..." หรือ '...' เสมอ สามารภต่อหลาย string ได้ด้วยเครื่องหมาย +

In [ ]:
print("hello" + "world")
print("hello" + " " + "world")
print("hello" , "world" , "!" , "R2DE")

helloworld
hello world
hello world ! R2DE

สำหรับการใช้งาน Jupyter Notebook หรือ Colab ม่ความสามารภในการ แสดงผลตัวแปรในแต่ละช่องออกมาได้เลย ช่วยให้เห็นค่าได้ทันที

(ทำใน Python ไฟล์ .py ปกติไม่ได้)

Python Variables : ตัวแปร

การประกาศตัวแปร คือ การตั้งชื่ออ้างอิงถึงข้อมูลที่เก็บอยู่ชั่วคราวใน RAM (มีผลเฉพาะการรันในแต่ละครั้ง)
ตัวแปรในภาษา python สามารถจัดเก็บข้อมูลได้หลายประเภทโดยที่ไม่ต้องประดาศประเภทของตัวแปรก่อน (เรียกว่า dynamic type)

In [ ]:
#Int (Integer) ข้อมูลประเภทจำนวนเต็ม
a = 1
a

1

In [ ]:
#Float ข้อมูลประเภททศนิยม
float(a)

1.0

In [ ]:
#String ข้อมูลประเภทข้อความ
str(a)

'1'

In [ ]:
#การนำ string มาบวกกัน คือการนำ string มาต่อกัน(append)
str(a) + "1"

'11'

In [ ]:
#สั่งปริ้นผลลัพธ์
print(1+2+3)

6

In [ ]:
a

1

In [ ]:
#Boolean ข้อมูลประเภทจริงหรือเท็จ
bool(a)

True

In [ ]:
bool(0)

False

In [ ]:
bool(None)

False

In [ ]:
type(a)

int

In [ ]:
#ประกาศตัวแปรประเภท string ต้องมี "...",'...'
b = "Python"
b

'Python'

In [ ]:
#Error เนื่องจาก b เป็น string
int(b)

ValueError: invalid literal for int() with base 10: 'Python'

In [ ]:
#ทบทวนตัวแปร
print(a , type(a))
print(b , type(b))

1 <class 'int'>
Python <class 'str'>

In [ ]:
#สร้าง list
empty_list =[]
print(empty_list)

[]

In [ ]:
#การสร้าง list จากตัวแปรที่สร้างขึ้น
l = [b , a , a + 1 , a + 2]
l

['Python', 1, 2, 3]

In [ ]:
#การดูจำนวนสมาชิก (lenght) ของ list
len(l)

4

In [ ]:
#การดูค่า list ในเฉพาะบางช่อง
l[3]

3

In [ ]:
#การเปลี่ยนแปลง (assign)
l[3] = 5
l

['Python', 1, 2, 5]

In [ ]:
#IndexError
l[4] = ":)"

IndexError: list assignment index out of range

In [ ]:
l

['Python', 1, 2, 5]

In [ ]:
#การเพิ่มสมาชิกของ list ต่อท้าย ใช้คำสั่ง append
l.append(":)")
l

['Python', 1, 2, 5, ':)']

In [ ]:
#คำสั่ง pop() คือการ remove สมาชิกตัวสุดท้ายของ list
l.pop()
l

['Python', 1, 2, 5]

In [ ]:
#tuple คล้ายกับ list *แต่ไม่สามารถแก้ไข หรือเปลี่ยนแปลงข้อมูลได้
t = (0 , 1 , 2 , 3 , 4)

In [ ]:
len(t)

5

In [ ]:
#การเข้าถึงข้อมูลใน t
t[0:3]

(0, 1, 2)

In [ ]:
#การเข้าถึง ข้อมูลตัวสุดท้ายของ tuple
t[-1]

4

In [ ]:
#การเข้าถึงข้อมูล ตัวที่สาม จากท้ายสุด จนถึงตัวสุดท้าย
#t[: -3] เอาทุกอย่างจากต้นจนถึง 3 ตัวสุดท้าย แต่ไม่รวม 3 ตัวสุดท้าย
#t[-3:] เอา 3 ตัวสุดท้ายของลำดับ
t[: -3] , t[-3:]

((0, 1), (2, 3, 4))

In [ ]:
#typeError
t[4] = 5

TypeError: 'tuple' object does not support item assignment

In [ ]:
#การสร้าง gradr dictionary สำหรับตัดเกรด
grade = {
    "A" : 80,
    "B" : 70,
    "C" : 60,
    "D" : 50
}
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50}

In [ ]:
grade["A"]

80

In [ ]:
#เพิ่มข้อมูลใหม่
grade["B+"] = 75
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

In [ ]:
#การเก็บข้อมูลในรูปแบบ คู่คีย์-ค่า (key-value pairs)
d = {}
d["s001"] = "Perth"
d["s002"] = "Fon"

In [ ]:
d["s001"]

'Perth'

Python String

String สำหรับเก็บตัวแปรปรพเภทข้อมูล สามารถเข้าถึงด้วย index สามาถชรถเชื่อต่อ string ด้วย + หรือ join()
ในการณีที่เป็น list และมีฟังก์ชันอื่นๆ ที่เกี่ยวข้องกับ string อีกมากมาย เช่น
*   split() การแยก string ด้วน symbol ผลลัพธ์ของการรันจะออกมาเป็น list
*   strip() การลบช่องว่างที่อยู่หน้าหรือหลังสุด

In [ ]:
sentence = " Hello Python. I am ready"

In [ ]:
#สามารถดูตาม index ที่ระบุตำแหน่งนั้นได้
sentence[1]

'H'

In [ ]:
#ตัดบางส่วนของ
sentence[1 : 14]

'Hello Python.'

In [ ]:
#strip ลบช่องว่าง หัวท้าย
list_of_words = sentence.strip().split(' ')

In [ ]:
corgi = ' ' . join(list_of_words)
corgi

'Hello Python. I am ready'

Loop and Condition

For loop
ในภาษา python สามารถวน for loop ตามสมาชิกแต่ละตัวใน object ที่มีลักษณะเป็น list ได้ โดยการวน loop มีการใช้งานดังนี้
```
# มีการจัดรูปแบบเป็นโค้ด
for temp_var in list_or_range
  do somthing1()
  do somthing2()

In [ ]:
#ทบทวนตัวแปร l
l

['Python', 1, 2, 5]

In [ ]:
#วนใน list
for item in l:
 print(item)

Python
1
2
5

In [ ]:
#วนตามรอบที่กำหนด
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#list Comprehension สร้างลิสต์ใหม่ที่มีสมาชิกเหมือนกันกับสมาชิกในลิสต์
list_t = [i for i in t]

In [ ]:
[i + 1 for i in range(100)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [ ]:
if len(t) == 5:
  print('lenght is 5')
else:
  print('lenght noy equals 5')

lenght is 5

In [ ]:
#ทบทวนตัวแปร grade
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

In [ ]:
score = 75
if score >= grade["A"]:
  print("A")
  print("Good job!")
elif score >= grade["B+"]:
  print("B+")
elif score >= grade["B"]:
  print("B")
elif score >= grade["C"]:
  print("C")
elif score >= grade["D"]:
  print("D")
else:
  print("F")

B+

Package สำหรับคำนวณตัวเลขเช่น log , Expinential และเรียกใช้ค่าสำคัญทางคณิตศาสตร์ เช่น Pi

In [ ]:
#import ใช้สำหรับนำเข้าโมดูล (module) หรือแพ็กเกจ (package) ที่มีฟังก์ชัน, คลาส, หรือค่าต่างๆ มาใช้ในโปรแกรม
import math

math.pi

3.141592653589793

Datetime

Datetime เป็น Package สำหรับจัดการข้อมูลวันเวลา โดยทั่วไปจะเป็น UTC ตามเวลามาตรฐานโลก

เวลาประเทศไทย จะเรียกว่า Indochina Time (ICT) คือเวลา UTC +7 ชั่วโมง

In [ ]:
import datetime

now = datetime.datetime.now()
now

datetime.datetime(2025, 1, 18, 13, 46, 7, 358707)

isoformat คือ format มาตรฐานที่นิยมใช้ใน timestamp ที่เก็บไว้บน database / data warehouse

In [ ]:
now.isoformat()

'2025-01-18T13:46:07.358707'

In [ ]:
#การเรียกดูวันที่รับปัจจุบัน
today = datetime.date.today()
today

datetime.date(2025, 1, 18)

In [ ]:
#รูปแบบมาตรฐานของ today
today.isoformat()

'2025-01-18'

Simple function

Function คือ การกำหนดการคำนวณที่ใช้ซ้ำบ่อยๆ เพื่อให้เรียกใช้สะดวก ในการเรียกใช้ Function ผู้ใช้ส่งตัวแปรเข้ามากี่ตัวก็ได้ (argument , parameter) สามารถกำหนดค่าใรกรณีที่ผู้ใช้ใส่ตัวแปรใน parameter มาไม่ครบ เรียกว่า default parameter การ return คือการคืนค่าออกไปเพื่อเป็นผลลัพธ์ของ function

parameter ของ function คือ ตัวแปรรับเข้าที่เปลี่ยนค่าได้

In [ ]:
def circle_area(radius):
  return math.pi * radius * radius

circle_area(4)

50.26548245743669

In [ ]:
def rectangle_area(height, width):
  return height * width

rectangle_area(4, 5)

20

In [ ]:
#function ที่แปลงค่าเงิน โดย rate จะมี default parameter อยู่ที่ 31.33
def conversion(amount, rate = 31.33):
  return amount * rate

conversion(30)

939.9

In [ ]:
conversion(30, 34.333)

1029.99

# Working with files การทำงานร่วมกับไฟล์

Write file การเขียนไฟล์

การเขียนไฟล์ จะใช้คำสั่ง open เพื่อเปิดไฟล์ และเขียนไฟล์ลงไป

"w" ข้างหลัง (write) คือ โหมดการเปิดไฟล์แบบเขียน ซึ่งจะสร้างไฟล์ใหม่ขึ้นมาเพื่อเขียน

In [ ]:
file = open("output.csv","w")
file.write("date,item,price\n")
file.write("2020-02-07,Milk,26.5\n")
file.write("2020-02-08,Water,7\n")
file.close()

In [ ]:
#การวนลูปเขียนไฟล์ จาก list ของ tuple
header = ("date","item","price")
",".join(header) + "\n"

'date,item,price\n'

In [ ]:
header = ("date","item","price")
content = [
    ("2020-02-07","Milk","26.5"),
    ("2020-02-08","Water","7"),
    ("2020-02-08","Mask","20"),
    ("2020-02-08","Lays","10"),
    ("2020-02-08","Rice","6")
]

file = open("products.csv","w")
file.write(",".join(header) + "\n")

for row in content:
 file.write(",".join(row) + "\n")

file.close()

In [ ]:
#"r" เปิดโหมดอ่าน เพื่ออ่านไฟล์
#คำสั่ง with ช่วยให้ไฟล์ถูกปิดโดยอัตโนมัติเมื่อออกจากบล็อกของ with
#readlines() จะอ่านข้อมูลทั้งหมดในไฟล์และแยกข้อมูลเป็นบรรทัดๆ
#แต่ละบรรทัดจะถูกเก็บเป็นสมาชิกในลิสต์
with open("products.csv","r") as f:
  product = f.readlines()

product

['date,item,price\n',
 '2020-02-07,Milk,26.5\n',
 '2020-02-08,Water,7\n',
 '2020-02-08,Mask,20\n',
 '2020-02-08,Lays,10\n',
 '2020-02-08,Rice,6\n']

In [ ]:
len(product)

6

# Use pandas to Read/Write file

การอ่านไฟล์ csv ด้สย pandas (3rd party package) สำหรับการอ่านและการประมวลผลไฟล์ ในลักษณะของตาราง Dataframe

Pandas เป็นที่นิยมใช้ในสาย data มาก เพราะสามารถช่วยให้วิเคราะห์และใช้งาน data ที่เป็น table ใน python ได้ง่ายขึ้น เนื่องจากเป็น package ที่ python ไม่มีจึงต้อง import ก่อน

In [ ]:
import pandas as pd

df= pd.read_csv("sample_data/california_housing_test.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
#เซฟไฟล์ CSV จาก DataFrame
df.to_csv("new_data.csv")

# JSON

ดับเบิลคลิก (หรื้อกด Enter) เพื่อแก้ไข

JSON dump = export JSON

In [ ]:
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

In [ ]:
#json.dumps(): ฟังก์ชันนี้แปลง Python object ให้เป็น string ที่อยู่ในรูปแบบ JSON
import json
json.dumps(grade)

'{"A": 80, "B": 70, "C": 60, "D": 50, "B+": 75}'

In [ ]:
type(json.dumps(grade))

str

In [ ]:
#Save to output file grade.json
json.dump(grade, open("grade.json","w"))

JSON load = import JSON

In [ ]:
students = json.loads('{"student1": "Perth" , "student2": "Fon"}')
students

{'student1': 'Perth', 'student2': 'Fon'}

In [ ]:
type(students)

dict